/****************************************
GENERAL
*********************************************/

@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans|Slabo+27px');

body{  
    position:relative;
	background-color:black;
	margin:0;
	padding:0;
	font-family: 'Slabo 27px', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lora', serif;
	font-family: "Helvetica Neue", "Helvetica";
	color: black;
	/* -webkit-perspective: 1200px; */
	/* perspective: 1200px; */
	/* -webkit-transform-origin: 50% 100%; */
	/* transform-origin: 50% 100%; */
	/* -webkit-animation: rotateCubeBottomIn 6ss both ease-in; */
	/* animation: rotateCubeBottomIn 5s both ease-in; */
}
	
@keyframe myfadeInAnimation {
from {opacity: 0;}
to {opacity: 1;}
}
@-webkit-keyframes myfadeInAnimation {
from {opacity: 0;}
to {opacity: 1;}
}


.pt-page-rotateCubeTopOut {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation: rotateCubeTopOut .6s both ease-in;
	animation: rotateCubeTopOut .6s both ease-in;
}

.pt-page-rotateCubeBottomOut {
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-animation: rotateCubeBottomOut .6s both ease-in;
	animation: rotateCubeBottomOut .6s both ease-in;
}
.pt-page-rotateCubeBottomIn {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation: rotateCubeBottomIn .6s both ease-in;
	animation: rotateCubeBottomIn .6s both ease-in;
}
@-webkit-keyframes rotateCubeBottomOut {
	0% { }
	50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
	100% { opacity: .3; -webkit-transform: translateY(100%) rotateX(-90deg); }
}
@keyframes rotateCubeBottomOut {
	0% { }
	50% { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
	100% { opacity: .3; -webkit-transform: translateY(100%) rotateX(-90deg); transform: translateY(100%) rotateX(-90deg); }
}

@-webkit-keyframes rotateCubeBottomIn {
	0% { opacity: .3; -webkit-transform: translateY(-100%) rotateX(90deg); }
	50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(90deg); }
}
@keyframes rotateCubeBottomIn {
	0% { opacity: .3; -webkit-transform: translateY(-100%) rotateX(90deg); transform: translateY(-100%) rotateX(90deg); }
	50% { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(90deg); transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
}


@keyframes rotateCubeTopOut {
	0% {}
	50% { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
	100% { opacity: .3; -webkit-transform: translateY(-100%) rotateX(90deg); transform: translateY(-100%) rotateX(90deg); }
}

a {text-decoration:none !important; color: white;}

ul {list-style:none;}

img{
	max-width:100%;
}

clfd{

	float:left;
	display:inline;
	clear:both;
}

fd{
	display: inline;
	float:left;

}

h1, h2, h3, h4, h5, h6{text-transform: uppercase;}




/****************************************
NAVIGATION 
*********************************************/
.social-icons {position:relative; background-color:black;  opacity: 0.9;}
.social-icons ul li{padding: 0 5px;}
.social-icons .nav-pills{margin-right: 2% !important;}
.social-icons .nav-pills>li{float:right;}
.social-icons .nav-pills>li>a{border:none; font-size:18px; padding:0;}
.social-icons .nav-pills>li>a:focus, .social-icons .nav-pills>li>a:hover{background-color:transparent;}
.social-icons ul li a:hover{color:#b56724;}


@media only screen and (max-width: 400px)
{
	.social-icons .nav-pills{margin-right: 25% !important;}	
}

/* .social-icons ul li:first-child{ */
	/* padding-left:0; */
/* } */
/* //when icons are hovered over */

/* navigation  */
.navbar{
	border: 0;
	background-color:black;
	margin:0;
	opacity: 0.9;
	z-index:1000;
}

.navbar-brand{
	padding:0;
	height:90px;
}

.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.navbar .navbar-nav{
	margin-top:35px;
	padding-left:15px;
	padding-right:15px;
}

.navbar .navbar-collapse{
    border:0;
}

/* collapsible button that holds the menu button */
.navbar-default .navbar-toggle{border:0;}
.navbar-default .navbar-toggle:hover{ background-color:#b56724;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {background-color:transparent;}
.navbar-toggle .glyphicon{
	display: block;
	line-height:0.5;
	color:#fff;
	width:24px;
}

/* make links white */

/* for the active class */
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>.btn {
	color:#b56724;
	background-color: transparent !important;
}
.navbar .navbar-nav>li>a {
	    font-family:"Helvetica Neue", sans-serif;
		/* 'Open Sans', sans-serif; */
	    font-size:1em;
	    color:white;
		font-weight:500;
	/* color:#ee3456; */
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a.active:hover {
	color: #b56724;
	/* color:#ff7814; */
	font-size:1.1em;
	background-color: transparent ;
}

/* //sub-menu */
.navbar .navbar-nav>.open>a{ background: transparent !important; color:white;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{color:white;}
.dropdown-menu>li>a{ font-family: "Helvetica Neue", sans-serif; color:white;}
.navbar-collapse { background-color: black;}
.dropdown-menu>li>a:hover {background-color: #b56724;} 
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus { background-color: #b56724;} 
.dropdown-menu{ background-color:black; }

.navbar-btn{
	background-color:transparent;
	color:#b56724;
	/* color:#ff7814; */
	border:2px solid white;
}
/* removes the inset shadow that is a blue line that surrounds it */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline:0 !important;
}
/*for contact button*/
.btn:hover{ color:white;}
li .btn:active{color:#b56724;}




/* use hover to display subment on screen size larger than this */
@media only screen and (min-width: 768px)
{
	.navbar .navbar-nav li.dropdown:hover > ul.dropdown-menu{ display:block;}
	/* hide caret class*/
}

/****************************************
MODAL NAVIGATION 
*********************************************/
#modalNav .modal-dialog{
	margin-top:40px;
}

#modalNav .modal-content{
	background-color: rgba(192,192,192,0.6)
}
#modalNav .modal-footer{
	text-align:center;
	padding:10px 0 0 0;
	border:none;
}
.modN{
	text-align:center;
}
.modN div{
	position:relative;
	min-height:28px;	
	margin-bottom:5px;
	color:black;
}
.modN div a{font-family:"Helvetica Neue", serif; font-size:1em; font-weight:500; letter-spacing:1px; text-align:center; color:black;}
.modN div a:hover{color:#b56724;}
#modalNav .collapse.in, #modalNav .collapse.in{ padding: 0;}

.modN div .btn{
	background-color:transparent;
	/* 'Open Sans', sans-serif; */
	font-family:"Helvetica Neue", serif; 
	font-size:1em;
	letter-spacing:1px;
	border:2px solid white;
}

 

/****************************************
HOME PAGE 
*********************************************/
/* for carousel */
.carousel .item img{ height:500px; width:100%; z-index:1200;}
.carousel-control.right, .carousel-control.left{ background-color:none; opacity:0.5; width:5%;}
.Man{ background-color:white; text-align:center; font-family: 'Slabo 27px', serif; position:relative;}
.Man img{ width:85%;}
.Man h3{font-size: 22px; font-weight: normal;}
.Man p{font-size: 14px; padding-left: 15px; padding-right: 15px;}

@keyframes ring{ from {border-color: #bf7536}  to{border-color: #ff7814} }
.Man .ring {
    background-color: #fff;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #bf7536;
	/* #BED600; */
    box-shadow: 0 0 0 10px white;
    margin-top: -10px;
    animation-name:ring;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.ManMsg{
	position:relative;
}

.skyline{height:235px; z-index:1200; }


@media only screen and (max-width: 520px)
{
	.Man img{ width:100%; height:auto;}
	.Man img{height:80px;}
	.ManMsg{top: 10px; padding: 2px;}
	.ManMsg:last-child{ margin-bottom: 10px;}
}



/************************************
ABOUT PAGE STYLINg
********************************/
div.profile{ 
	 position: relative;
	 padding-bottom:1px;
}

.prof{
	position: relative;
	font-family: 'Helvetica Neue', serif;
}

.pImg{
	/*margin:20px auto 0 auto;*/
    position:relative;
}


.pImg img{ height:auto;}

.pMsg{position:relative; color:white; min-height:188px; text-shadow: 0px 0px 8px rgba(0,0,0,0.15),0px 0px 8px rgba(0,0,0,0.15); }

.pMsg h1{ margin:0; padding:0; letter-spacing:2px; font-size: 22px;}
 
.pMsgL {background-color:#b56724; height:3px; margin:0 auto 10px auto; max-width:850px;}
	
.pMsg p { margin:0; padding:0; text-align:justify; font-size:14px;font-weight:500;}
	
.Pbut {position:relative;}

.Pbut ul{ list-style:none; padding-top: 7px;}

.Pbut ul li{ display:inline; margin-left:10px;}

.Pbut ul li a:hover{ opacity: 0.9;}

.Pbut .label{
	font-style:normal;
	font-family:'Lora', serif;
	font-size:1.2em;
	font-weight:normal;
	letter-spacing:0.1em;
}

.Pbut .btn-default{
	background-color:black;/*#bf7536*/;
}

.Pbut .btn-default:active{
	background-color:#bf7536;
}

.Message{
	background-color: white;
	position:relative;
}


.grpelem{
	margin-top: 1%;
	font-family: 'Slabo 27px', serif;
}

.symbol{
	
	width:60px;
	position:relative;
	margin-right:auto; 
	margin-left:auto;
	
}

#coreV{
	margin-bottom: 2%;
}

.Messg{
	text-align:center;
	margin-top:10px;
	position: left;
	/* margin-left:124px; */
}

.Messg h3{
	margin:0;
	margin-bottom: 2px;
}

.divider{
	height:3px;
	background-color:#bf7536;
	position: relative;
	margin: 20px auto 0 auto;
}

@media only screen and (min-width: 320px)
{
	
	.prof{ margin-top:50px;}
	
	.pImg{
	    margin: 5px auto 0 auto; width:300px;}
		
	 .Pbut{margin-top:50px;}
	 .pMsg{margin-top: 5px;} 
	.pMsg h1{ font-size: 22px;} 
	 
}

@media only screen and (min-width: 576px)
{
	
	.prof{ margin-top:50px;}
	
	.Pbut ul{ margin-left: 30%;}
	.pImg{
	    margin: 5px auto 0 auto;
       width:300px;   }

	.pImg img{
		padding:20px 0 10px 0;
		height:auto;
	}
	
	 .Pbut{ margin-top:30px;}
	 
	  
}

@media only screen and (max-width: 768px)
{
	
	.pMsgL{display:none;}
	.pMsg h1{ margin-top:5px; text-align: center;}
}
    
@media only screen and (min-width: 768px)
{
	
	.prof{
	margin-top:50px;
	}
	
	.pImg{
	   width:220px;
	   height:188px;   
  }
  
   .pImg img{ 
  	margin:30px 0 20px 0;
	height:auto;
   }
   
   .pMsg{ width:520px;}
   
    .Pbut{ margin-top:50px;}
    
	.symbol{
		left:20px;
		margin:10px auto 0 auto;
		float:left;
	}
	
	.Messg{
		text-align:left;
		margin-left:100px;
		width:600px;
	}
	
	.divider{
	width:588px;
	left:20px;
	margin: 20px auto 0 auto;
   }
}

@media only screen and (min-width: 992px)
{
     div.profile{
		 height:500px;
	 }
	
	.prof{
    z-index: 42;
	margin-top:50px;
		
	}

	.pImg{
	  margin-top: 50px;
	  width:200px;
	  left: 70px;
  }

    .pImg img{ 
  	margin:40px 0 10px 0;
	height:auto;
   }

   	.pMsg{
	width:600px;
    left: 125px;
  }

  .Pbut{
	 margin-top:50px; 
	 
	}
	
	.Pbut ul{
	float:right;
	margin-right:22%;
}
	
  .Messg{}
	
   .divider{
	width:750px;
	left:-10px;
	margin:20px auto 0 auto;
   } 
   
   .symbol{
		left:90px;
		margin:20px auto 0 auto;
		float:left;
	}
	
	.Messg{
		
		text-align:left;
		margin-left:200px;
		width:600px;
	}


}


/************************************
CONTACT PAGE STYLING
********************************/
.contact{
	position:relative;
	background-color:white;
	z-index:400;
}

.contact .pInfo{

		text-align:center;
		
	}

.contact input.form-control, textarea.form-control{
    background-color:#ebebeb;
    }
	    
.contact .form-control:hover{
       background-color:white;
   }
   
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style:italic;
}

::-moz-placeholder { /* Firefox 19+ */
 font-style:italic
}
:-ms-input-placeholder { /* IE 10+ */
  font-style:italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style:italic;
}

.bub .btn-default{
	background-color:#ebebeb;
}
   
.bub, .grp{
     text-align:center;
	 font-weight:400;
	 letter-spacing: 0.4;
   }
   
.grp{margin-top: 4px;}
   
.lin{ height:1px; background-color:#ff7814; margin: 0 auto; width:50%;}

.Map{

	background-color:white;
	min-height:320px;
	z-index:500;
}



@media only screen and (min-width: 769px)
{
	.contact .pInfo{

		text-align:right;
		margin-right: 26.5%;
	}
}

/************************************
ARCHITECTURE PAGE STYLING
********************************/

.aGrp{
	
	position:relative;
	z-index:300px;
}


.aImg{
	
	position:relative;
     margin-top:20px;
	width:300px;
	
}

.aImg img{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);}

.aProf{
	position:relative;
	margin-top:20px;
	font-family: 'Helvetica Neue', serif;
}

.aProf h1{
	margin:0; font-size: 28px;
}

.aProf p{
	line-height: 20px;
}
.click{
	margin:0; 
	font-family:'Lora', serif;
	text-transform:uppercase;
	letter-spacing: 2px;
}
.gallery{
	position:relative;
	margin:10px auto;
	width: 270px;
	max-width:900px;
}

a.prev{
	position:absolute;
	display:block;
	left:-30px;
	top:45%;
	
}

a.next{
	position:absolute;
	display:block;
	right: -30px;
	top:45%;
}

.archCarous{
	position:relative;
	overflow:hidden;
	z-index:2;
	box-sizing: content-box;
	margin:5px auto;
}

.archCarous ul{
	list-style:none; 
	position:relative; 
	width: 20000em;
	z-index:1; 
	margin:0;
	padding:0;
}

.archCarous ul li{
	float:left;
	width:260px;
	margin:0 5px 0 0;
	border: 2px solid #bababa;
}

.archCarous ul li img {
        width:100%;
        height:auto;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
	
.gallery .glyphicon{
	color:#bf7536;
	font-size:20px;
	/* animation:glyph 3s both ease-in; */
	/* -webkit-animation:glyph 3s both ease-in; */
    /* animation-iteration-count: infinite; */
}

@keyframes glyph{
	0%{color: #bf7536 }
	50%{color: blue}
	100%{color: red}
}
@keyframes gline{
	0%{ background-color: #bf7536 }
	50%{background-color: blue}
	100%{background-color: red}
}



.gline{
	background-color:#b56724; 
	height:3px; 
	margin:0 auto 10px auto; 
	max-width:850px;
}
@media only screen and (min-width: 320px)
{
	
	.aprof{margin-top:40px;}
	
	.aProf p{font-size: 12px; letter-spacing:1px;}
	
	.aImg{
	    margin: 10px auto 5px auto; width:300px;}
		
	 .Pbut{ margin-top:50px;}
	 
}

@media only screen and (max-width: 850px)
{
	
   .gline{
	   width: 520px;
   }
}
	
@media only screen and (max-width: 560px)
{
	.aProf h1{text-align:center; font-size: 22px;}
	
   .gline{
	   width: 280px;
   }
}

	
@media only screen and (min-width: 560px)
{
	.gallery{
	width: 520px;
}

  .archCarous ul li{
	float:left;
	width:259px;
 }
 
}

@media only screen and (min-width: 900px)
{
	.aImg{
		margin-top:20px;
		left: 70px
	}
	.aProf{
		left: 70px;
		width:650px;
	}
	.gallery{
	width: 820px;
	margin-bottom: 30px;
}

  .archCarous ul li{
	float:left;
	width:270px;
 }
 
 .gallery .glyphicon{
	font-size:24px;
}
 
}



/************************************
FOOTER STYLING
********************************/

footer ul{
	display:block;
	margin-top:10px; 
}


footer ul li{
	display: inline;
	margin-top:10px;
	margin-left:25px;
	color:white;
}

footer li a{
	font-family: 'Helvetica Neue', sans-serif;
	font-size:0.8em;
	color:white;
}

footer li .btn{
	background-color:transparent;
	/* 'Open Sans', sans-serif; */
	font-family:"Helvetica Neue", serif; 
	font-size:0.8em;
	letter-spacing:1px;
	border:2px solid white;
}

footer li a:hover, footer li .btn:hover{
	color:#ff7814;
}

footer .footer--signature{
	margin-top: 10px;
	text-align: right;

}

footer p{
	font-size:11px;
	float:left;
	margin-top: 5%;
	margin-left: 5px;
}

footer img{
	width: 33%;
	margin-right: 25px;
}

footer{
	padding:0;
	background-color:rgba(0,0,0,0.4);
	color: white;
}

/*iPad Pro*/
@media only screen and (max-width: 1024px)
{
	footer ul li{
		margin:0;
		display: block;
	}

	.btn--contact{
		margin-top: 7px;
	}

	footer .footer--signature{
		margin-top: 10px;
	}

	footer p{
		font-size:15px;
	}

	footer img{
		width: 35%;
		margin: 0;
	}

	footer{
		margin:10px;
	}

}

/*iPad*/
@media only screen and (max-width: 768px)
{
	footer .footer--signature{
		margin-top: 98px;
	}

	footer p{
		font-size:15px;
		margin-top: 6.5%;
		margin-left: 0;
	}

	footer img{
		width: 30%;
	}

	footer{
		margin:10px;
	}
}


/*iPhone 6 Plus, Nexus 6P, Nexux 5X*/
@media only screen and (max-width: 414px) 
{
	footer .footer--signature{
		margin-top: 98px;
	}

	footer p{
		font-size:11px;
		margin-top: 8%;
		margin-left: 30px;
	}

	footer img{
		width: 38%;
	}
}


/*iPhone 6, Galaxy S5*/
@media only screen and (max-width: 375px) 
{
	footer .footer--signature{
		margin-top: 98px;
	}

	footer p{
		font-size:10px;
		margin-top: 6%;
		margin-left: 20px;
	}

	footer img{
		width: 34%;
	}

}


/*iPhone 5*/
@media only screen and (max-width: 320px) 
{
	footer ul li{
		margin:0;
		display: block;

	}

	.btn--contact{
		margin-top: 7px;
	}	

	footer .footer--signature{
		margin-top: 98px;
	}

	footer p{
		font-size:9px;
		margin-top: 5%;
		margin-left: 15px;
	}

	footer img{
		width: 33%;
		margin:0;
	}

}

