/****************************************
GENERAL
*********************************************/

@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans|Slabo+27px');

body{
    
    position:relative;
	background-color:black;
	margin:0;
	padding:0;
	font-family: 'Slabo 27px', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lora', serif;
	color: black; 
	animation: myfadeInAnimation 2s;
}
	
@keyframe myfadeInAnimation {
from {opacity: 0;}
to {opacity: 1;}
}
@-webkit-keyframes myfadeInAnimation {
from {opacity: 0;}
to {opacity: 1;}
}


.pt-page-rotateCubeTopOut {
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation: rotateCubeTopOut .6s both ease-in;
	animation: rotateCubeTopOut .6s both ease-in;
}

@keyframes rotateCubeTopOut {
	0% {}
	50% { -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
	100% { opacity: .3; -webkit-transform: translateY(-100%) rotateX(90deg); transform: translateY(-100%) rotateX(90deg); }
}



a {text-decoration:none !important; color: white;}

img{
	max-width:100%;
}

clfd{

	float:left;
	display:inline;
	clear:both;
}

fd{
	display: inline;
	float:left;

}

.clearFix:after {
    content: "\0020";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;

}


/****************************************
NAVIGATION 
*********************************************/
.social-icons { position:relative; background-color:black;  opacity: 0.9;}
.social-icons ul li{ padding: 0 5px;}
.social-icons .nav-pills{margin-right: 25% !important;}
.social-icons .nav-pills>li{float:right;}
.social-icons .nav-pills>li>a{border:none; font-size:18px; padding:0;}
.social-icons .nav-pills>li>a:focus, .social-icons .nav-pills>li>a:hover{background-color:transparent;}
.social-icons ul li a:hover{color:#b56724;}


@media only screen and (max-width: 400px)
{
	.social-icons .nav-pills{margin-right: 25% !important;}	
}

/* .social-icons ul li:first-child{ */
	/* padding-left:0; */
/* } */
/* //when icons are hovered over */

/* navigation  */
.navbar{
	border: 0;
	background-color:black;
	margin:0;
	opacity: 0.9;
	z-index:1000;
}

.navbar-brand{
	padding:0;
	height:90px;
}

.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.navbar .navbar-nav{
	margin-top:35px;
	padding-left:15px;
	padding-right:15px;
}

.navbar .navbar-collapse{
    border:0;
}

/* collapsible button that holds the menu button */
.navbar-default .navbar-toggle{
	border:0;
}

.navbar-default .navbar-toggle:hover{ background-color:#ff6214; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {background-color:#b56724;}

.navbar-toggle .glyphicon{
	display: block;
	line-height:0.5;
	color:#fff;
	width:24px;
}

/* make links white */

/* for the active class */
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>.btn {
	color:#b56724;
	background-color: transparent !important;
}
.navbar .navbar-nav>li>a {
	    font-family: 'Open Sans', sans-serif;
	    font-size:1em;
	    color:white;
		font-weight:600;
	/* color:#ee3456; */
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a.active:hover {
	color: #b56724;
	/* color:#ff7814; */
	font-size:1.1em;
	background-color: transparent ;
}

/* //sub-menu */
.navbar .navbar-nav>.open>a{ background: transparent !important; color:white;}

.navbar-default .navbar-nav>.open>a:focus{ color: white;}
.dropdown-menu>li>a{ font-family: 'Open Sans', sans-serif; color:white;}
.navbar-collapse { background-color: black;}
.dropdown-menu>li>a:hover { background-color: #b56724;} 
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus { background-color: #b56724;} 
.dropdown-menu{ background-color:black; }


.navbar-btn{
	background-color:transparent;
	color: #b56724;
	/* color:#ff7814; */
	border:2px solid white;
}
/* removes the inset shadow that is a blue line that surrounds it */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline:0 !important;
}

/*for contact button*/
.btn:hover{ color:white;}
li .btn:active{color:#b56724;}

@media only screen and (min-width: 600px)
{
	.navbar .navbar-nav li.dropdown:hover > ul.dropdown-menu{ display:block;}
}

/****************************************
HOME PAGE 
*********************************************/
/* for carousel */
.carousel .item img{ height:500px; width:100%; z-index:1200;}
.carousel-control.right, .carousel-control.left{ background-color:none; opacity:0.5; width:5%;}
.Man{ background-color:white; text-align:center; font-family: 'Slabo 27px', serif;}
.Man img{ width:85%;}
.Man h3{font-size: 22px; font-weight: normal;}
.Man p{font-size: 14px; padding-left: 15px; padding-right: 15px;}

@keyframes ring{ from {border-color: #bf7536}  to{border-color: #ff7814} }
.Man .ring {
    background-color: #fff;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #bf7536;
	/* #BED600; */
    box-shadow: 0 0 0 10px white;
    margin-top: -10px;
    animation-name:ring;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.skyline{height:235px; z-index:1200;}


/************************************
ABOUT PAGE STYLINg
********************************/
div.profile{ 
	 position: relative;
	 padding-bottom:1px;
}

.prof{

	position: relative;
	font-family: 'Slabo 27px', serif;
	
}

.pImg{
	/*margin:20px auto 0 auto;*/
   
    position:relative;
}


.pImg img{
	height:auto;
}


.pMsg {
	position:relative;
	color:white;
	min-height:188px;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.15),0px 0px 8px rgba(0,0,0,0.15)/* glow;, 4px 4px 5pxrgba(0,13,29,0.5)/* drop shadow*/;
}

.pMsg h1 {
	margin:0;
	padding:0;
}
	
.pMsg p {
	
	margin:0;
	padding:0;
	text-align:justify;
	font-size:16px;
	font-weight:500;
}
	
.Pbut {
	position:relative;
}

.Pbut ul{
	list-style:none;
	padding-top: 7px;
	
}

.Pbut ul li{
	
	display:inline;
	margin-left:10px;
	
}

.Pbut ul li a:hover{
	 opacity: 0.9;
}

.Pbut .label{
	
	font-style:italic;
	font-family:'Slabo 27px', serif;
	font-size:1.2em;
	font-weight:normal;
	letter-spacing:0.1em;
}

.Pbut .btn-default{
	background-color:black;/*#bf7536*/;
}

.Pbut .btn-default:active{
	background-color:#bf7536;
}

.Message{
	background-color: white;
	position:relative;
}


.grpelem{
	margin-top: 1%;
	font-family: 'Slabo 27px', serif;
}

.symbol{
	
	width:60px;
	position:relative;
	margin-right:auto; 
	margin-left:auto;
	
}

#coreV{
	margin-bottom: 2%;
}

.Messg{
	text-align:center;
	margin-top:10px;
	position: left;
	/* margin-left:124px; */
}

.Messg h3{
	margin:0;
	margin-bottom: 2px;
}

.divider{
	height:3px;
	background-color:#bf7536;
	position: relative;
	margin: 20px auto 0 auto;
}

@media only screen and (min-width: 320px)
{
	
	.prof{ margin-top:50px;}
	
	.pImg{
	    margin: 5px auto 5px auto; width:300px;}
		
	 .Pbut{ margin-top:50px;}
	 
}

@media only screen and (min-width: 576px)
{
	
	.prof{ margin-top:50px;}
	
	.Pbut ul{ margin-left: 30%;}
	.pImg{
	    margin: 5px auto 0 auto;
       width:300px;   }

	.pImg img{
		padding:20px 0 10px 0;
		height:auto;
	}
	
	 .Pbut{ margin-top:30px;}
}
    
@media only screen and (min-width: 768px)
{
	
	.prof{
	margin-top:50px;
	}
	
	.pImg{
	   width:220px;
	   height:188px;   
  }
  
   .pImg img{ 
  	margin:30px 0 20px 0;
	height:auto;
   }
   
   .pMsg{ width:520px;}
   
    .Pbut{ margin-top:50px;}
    
	.symbol{
		
		left:20px;
		margin:10px auto 0 auto;
		float:left;
	}
	
	.Messg{
		
		text-align:left;
		margin-left:100px;
		width:600px;
	}
	
	.divider{
	width:588px;
	left:20px;
	margin: 20px auto 0 auto;
   }
}

@media only screen and (min-width: 992px)
{
     div.profile{
		 height:500px;
	 }
	
	.prof{
    z-index: 42;
	margin-top:50px;
		
	}

	.pImg{
		margin-top: 50px;
	  width:200px;
	  left: 70px;
  }

    .pImg img{ 
  	margin:40px 0 10px 0;
	height:auto;
   }

   	.pMsg{
	width:600px;
    left: 125px;
  }

  .Pbut{
	 margin-top:50px; 
	}
	
	.Pbut ul{
	margin-left: 50%;
}
	
  .Messg{}
	
   .divider{
	width:750px;
	left:-10px;
	margin:20px auto 0 auto;
   } 
   
   .symbol{
		left:90px;
		margin:20px auto 0 auto;
		float:left;
	}
	
	.Messg{
		
		text-align:left;
		margin-left:200px;
		width:600px;
	}


}


/************************************
CONTACT PAGE STYLING
********************************/
.contact{
	position:relative;
	background-color:white;
	z-index:400;
}

.contact input.form-control, textarea.form-control{
    background-color:#ebebeb;
    }
	    
.contact .form-control:hover{
       background-color:white;
   }
   
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style:italic;
}

::-moz-placeholder { /* Firefox 19+ */
 font-style:italic
}
:-ms-input-placeholder { /* IE 10+ */
  font-style:italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style:italic;
}

.bub .btn-default{
	background-color:#ebebeb;
}
   
.bub, .grp{
     text-align:center;
	 font-weight:400;
	 letter-spacing: 0.4;
   }
   
.grp{margin-top: 4px;}
   
.lin{ height:1px; background-color:#ff7814; margin: 0 auto; width:50%;}

.Map{

	background-color:white;
	min-height:320px;
	z-index:500;
}



@media only screen and (min-width: 769px)
{
	.contact .pInfo{

		text-align:right;
		margin-right: 20%;
	}
}

/************************************
ARCHITECTURE PAGE STYLING
********************************/








/************************************
FOOTER STYLING
********************************/
footer{
	margin:0;
	padding:0;
	
	/* background-color:grey; */
	
	background-color:rgba(0,0,0,0.4);
}

footer  ul{
	display:block;
	margin-top:10px; 
}

footer  ul li{
	display: inline;
	margin-top:10px;
	margin-left:25px;
	color:white;
}

footer li a{
	font-family: 'Lora', serif;
	font-size:0.8em;
	color:white;
}

footer li .btn{
	background-color:transparent;
	/* 'Open Sans', sans-serif; */
	font-family: 'Lora', serif; 
	font-size:0.8em;
	letter-spacing:1px;
	border:2px solid white;
}

footer li a:hover, footer li .btn:hover{
	color:#ff7814;
}

footer span{ color: white; letter-spacing: ; font-family: 'Lora', serif; font-size:0.8em;}

.bmenu{
	margin-top: 14px;
	border:2px solid white;
	text-align:right;
}

.bmenu span{
	padding-top: 4em;
}

.bmenu img{
	margin-left:7px;
}

@media only screen and (max-width: 768px)
{
	footer{height:70px;}
	footer ul{padding:0;}
	footer ul li{display:block; margin:0; font-weight:400px;}
	footer li a{padding:0;}
	.bmenu{margin-top:9%;}
	
}
	
	






